video{
    object-fit: cover;
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: -1;
}

.main-container{
   /* background: url('images/img-home.jpg') center center/cover 
    no-repeat; */
    height: 100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow: inset  0 0 0 1000px rgba(0,0,0,0.3);
    object-fit: contain;
}